.App {
  text-align: center;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

.form { 
border: 1px solid green;
height:300px;
width: 650px;
margin-top: 10px;
}

.table {
  border: 1px solid green;
  height:300px;
  width: 650px;
  margin-top: 10px;
}